@import url('https://fonts.cdnfonts.com/css/sf-pro-display');


body{
   /* background-image:radial-gradient(46.3% 82.87% at 29.23% 17.13%, rgba(51, 203, 251, 0.4) 0%, rgba(51, 203, 251, 0) 100%);    */
    background-color: #1f1f1f;
}



.dropdown:hover .dropdown-menu{
    display: block;
    margin-top: 0;
}

.nav-link{
    font-size: 18px;
    font-weight: 500;
    line-height: 4px;
    color: #fff;
}

.nav-link:hover{
    color: rgb(3, 170, 199);
}

.columns-1{
    min-width: 550px;
    
    
}



.icon-nav{    
    width: 35px;
    height:35px;
    padding-top: 5px;
}

.content-nav{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}
small{
    font-size: 12px;
    color: rgb(184, 184, 184);
    text-wrap: wrap;
}


.multi-nav{
    list-style: none;
}



.button-signUp{
    background: #fff;
    color: black;
    border-radius: 20px;
    
}

.button-signUp:hover{
    color: black;
}

.nav-login li a i:hover{
    border: 0;
    border-radius: 50%;
    background-color: gray;  
    justify-content: space-between;
}

i{
    padding: 5px 5px;
}

.listItem{
    list-style: none;    
    width: 384px;
    height: 300px;
    min-width: 360px;
    flex-shrink: 0;
    border-radius: 8px;
    background: rgba(25, 26, 26, 0.40);
    box-shadow: 0px 12px 20px 0px rgba(5, 17, 16, 0.05);
    
}



.prevIcon{    
    margin-left: -140px;
}

.nextIcon{
    margin-right: -140px;
}

.nameCoin{
    display: inline;
    color: #fff;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    padding-left: 10px;
    text-transform: uppercase;
}

.nameCoinUsdt{
    display: inline; 
    color: rgb(212, 212, 212);
    font-family: 'SF Pro Display', sans-serif;
    font-size: 14px;
    line-height: 19.6px;
}

.priceCoin{
    display: inline;
    color: #ffff;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 44px;
    padding-left: 10px;
}

.percentCoin{
    display: inline;
    font-family: 'SF Pro Display', sans-serif;
    color: rgb(241, 73, 63);
    font-weight: 700;
    line-height: 23px;
    padding-right: 10px;
    padding-top: 10px;
}

.sparkline{
    
    width: 345px;
    height: 120px;
    border-width: 5px;
}

.sparkline-spot{
    width:144px;
    height:40px;
}

.rankCard{
    height: 450px;
    width: 371px;
    color: #fff;
    background: linear-gradient(180deg, rgba(25, 71, 85, 0.40) 0%, rgba(25, 26, 26, 0.40) 22.50%, rgba(25, 26, 26, 0.40) 100%);
    border-radius: 8px;
    border-color: #1DA2B4;
}

.icon-coin-rank{
    width: 28px;
    height: 28px;    
}

.tab-list{
    border: none;
    background-color: transparent;
}

.tab-item{
    border: none;
    background-color: transparent;
    text-decoration: none;
    font-size: 24px;
    line-height: 54px;
    font-weight: 500;
    color: #fff;
}

.tab-item:focus{
    font-size: 40px;
    line-height: 40px;
}

.listBanner{
    width: 384px;
    height: 200px;
    border-radius: 8px;
    
}

.banner{
   padding-left: 250px;
}

.download-app{
    width: 140px;
    height: 34px;
    padding: 4px 16px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: #ffffff;
    border-style: solid;
    border-color: #ffffff;
    font-size: 14px;
    line-height: 18px;
}

.text-footer{
    text-decoration: none;
    color: #b8b8b8;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    cursor: pointer;
}


#pagination-spot{
    color: rgb(235,235,235);
}