@import url('https://fonts.cdnfonts.com/css/sf-pro-display');


body{
   /* background-image:radial-gradient(46.3% 82.87% at 29.23% 17.13%, rgba(51, 203, 251, 0.4) 0%, rgba(51, 203, 251, 0) 100%);    */
    background-color: #1f1f1f;
}



.dropdown:hover .dropdown-menu{
    display: block;
    margin-top: 0;
}

.nav-link{
    font-size: 18px;
    font-weight: 500;
    line-height: 4px;
    color: #fff;
}

.nav-link:hover{
    color: rgb(3, 170, 199);
}

.tab-nav{ 
    text-decoration: none;
    font-size: 14px;
    line-height: 14px;
    font-weight: 500;
    color: #fff;    
}

.tab-nav:focus{
    border-bottom: 3px solid rgb(3, 170, 199);
}

.tab-nav:hover{
    border-bottom: 3px solid rgb(3, 170, 199);
}

.columns-1{
    min-width: 355px;
    
    
}
.columns-2{
    min-width: 640px;
    
    
    
}
.icon-nav{    
    width: 35px;
    height:35px;
    padding-top: 5px;
}

.content-nav{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}
small{
    font-size: 12px;
    color: rgb(184, 184, 184);
    text-wrap: wrap;
}


.button-signUp{
    background: #fff;
    color: black;
    border-radius: 20px;
    width: 90px;
    height: 40px;
    margin-top: 5px;
    
}

.nav-login li{
    margin: 0 10px;
}



.nav-login li a i:hover{
    border: 0;
    border-radius: 50%;
    background-color: gray;  
    justify-content: space-between;
}

i{
    padding: 5px 5px;
}


.sort-order{
    cursor: pointer;
}

.table tr th{
    background-color: transparent;
}

.table td{
    background-color: transparent;
    color: #fff;
}

.table tr{
    font-size: 12px;
    line-height: 18px;
}

#tradingview_chart{
    width: 100%;
    height: 650px;
}